<form action="/movies/<%= @movie.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="movie[title]">Movie Title: </label>
    <input type="text" name="movie[title]" value="<%= @movie.title %>"><br>
    <label for="movie[release_year]">Release Year: </label>
    <input type="text" name="movie[release_year]" value="<%= @movie.release_year %>"><br>
    <label for="movie[director]">Director: </label>
    <input type="text" name="movie[director]" value="<%= @movie.director %>"><br>
    <br>
    <input type="submit" name="update" value="Update Movie">
</form>
