<h1>Welcome, <%= current_user.username %>.</h1>

<h3>You may edit your profile data below.</h3>

<form action="/users/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="user[username]">Username: </label>
    <input type="text" name="user[username]" value="<%= current_user.username %>"><br>
    <label for="user[email]">Email Address: </label>
    <input type="text" name="user[email]" value="<%= current_user.email %>"><br>
    <br>
    <input type="submit" name="submit" value="Save Changes">
</form>
