<form action="/login" method="post">
    <input type="text" name="username" value="" id="username" placeholder="Username"><br>
    <input type="password" name="password" value="" id="password" placeholder="Password"><br>
    <input type="submit" name="submit" value="Log In" id="submit">
</form>
