<h1>Please signup below.</h1>

<form action="/signup" method="post">
    <input type="text" name="username" value="" id="username" placeholder="Username" required><br>
    <input type="text" name="email" value="" id="email" placeholder="Email Address" required><br>
    <input type="password" name="password" value="" id="password" placeholder="Password" required><br>
    <input type="submit" name="submit" value="Sign Up" id="submit">
</form>
