<h1>Welcome, <%= current_user.username %><% if owned_by(@user.id) %>!<% else %> to <%= @user.username %>'s library.<% end %></h1>

<h3>Movies Collection</h3>
<% if owned_by(@user.id) %>
    <a href="/movies/new">Add a Movie</a>
<% end %>
<%= list_collection(@user.movies, @user) %>

<h3>Games Collection</h3>
<% if owned_by(@user.id) %>
    <a href="/games/new">Add a Game</a>
<% end %>
<%= list_collection(@user.games, @user) %>
